.advanced {
	text-align: center;
	position: relative;

	.advanced-date {
		width: 100%;
		text-align: center;
		font-weight: $regular;
		padding-top: 20px;

		@include tablet {
			font-size: 22px;
		}

		@include tablet {
			font-size: 26px;
		}

		.day {
			display: block;
			font-size: 20px;
			font-weight: $bold;
			margin-top: 10px;
			pointer-events: none;

			@include tablet {
				font-size: 26px;
			}

			@include tablet {
				font-size: 28px;
			}
		}
	}

	.close-advanced-button {
		position: absolute;
		top: 20px;
		right: 20px;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		@include tablet {
			top: 40px;
			right: 40px;
		}

		@include desktop {
			top: 40px;
			right: 100px;
		}

		.close-advanced-btn {
			width: 30px;
			height: 30px;
			transform: scale(1);
			transition: transform .1s ease-in-out;

			@include tablet {
				width: 40px;
				height: 40px;
			}

			@include desktop {
				width: 40px;
				height: 40px;
			}

			&:active {
				transform: scale(0.5);
			}
		}
	}

	.advanced-info {
		width: 90%;
		margin: 40px auto 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include tablet {
			width: 80%;
		}

		@include desktop {
			width: 40%;
		}

		.section {
			flex-basis: calc(100% / 3);
		}

		.city-name {
			font-size: 22px;
			font-weight: $bold;

			@include tablet {
				font-size: 24px;
			}
		}

		.weather {

			.weather-icon {
				display: block;
				margin: 0 auto 10px;
				width: 55px;
				height: 55px;

				@include desktop {
					width: 60px;
					height: 60px;
				}
			}

			.weather-desc {
				display: block;
				font-size: 18px;
				font-weight: $light;

				@include tablet {
					font-size: 20px;
				}

				@include desktop {
					font-size: 20px;
				}
			}
		}

		.temp {

			.main-temp {
				font-size: 32px;
				font-weight: $bold;
				display: block;

				@include desktop {
					font-size: 34px;
				}
			}

			.min-max-temp {
				font-size: 14px;
				font-weight: $light;

				@include tablet {
					font-size: 16px;
				}

				@include desktop {
					font-size: 18px;
				}
			}
		}
	}

	.advanced-more-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 60px auto 0;

		@include tablet {
			width: 80%;
		}

		@include desktop {
			width: 40%;
		}

		.section {
			background-color: #F9F9F9;
			width: 90%;
			margin: 0 auto 20px;
			box-shadow: 0 0 4px rgba(0,0,0,0.25);
			padding: 20px 0;
			box-sizing: border-box;
			font-size: 24px;

			.more-info-name {
				font-weight: $bold;
			}

			.more-info-value {
				font-weight: $regular;
			}
		}
	}
}