@import './variables';
@import './mixin';

.search-nav {
	width: 100%;
	text-align: center;
	position: relative;
	margin: 0 0 30px 0;

	.search-icon {
		width: 40px;
		height: 40px;
		margin-top: 20px;

		@include tablet {
			margin-top: 50px;
			width: 50px;
			height: 50px;
		}
	}

	.close-search-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		background: none;
		border: none;
		outline: none;

		@include tablet {
			top: 40px;
			right: 40px;
		}

		.close-btn {
			width: 30px;
			height: 30px;
			transform: scale(1);
			transition: transform .1s ease-in-out;

			@include tablet {
				width: 40px;
				height: 40px;
			}

			&:active {
				transform: scale(0.5);
			}
		}
	}
}

.search-form {
	height: 40px;
	width: 80%;
	background-color: #E5E5E5;
	border-radius: 25px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0.25);
	padding: 0 5px 0 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include tablet {
		height: 60px;
	}

	.search-input {
		width: 100%;
		margin-right: 10px;
		height: 35px;
		border: none;
		box-sizing: border-box;
		background-color: inherit;
		font-size: 14px;
		font-weight: $regular;
		outline: none;

		@include tablet {
			height: 55px;
		}

		&::placeholder {
			color: rgba(7, 38, 51, 0.5);
		}

		&:focus::placeholder {
			color: rgba(7, 38, 51, 0.3);
		}
	}

	.search-btn {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		background-color: transparent;
		border: none;
		outline: none;
		transition: transform .1s ease-in-out;
		transform: scale(1);

		.btn-icon {
			width: 30px;
			height: 30px;

			@include tablet {
				width: 40px;
				height: 40px;
			}
		}

		&:active {
			transform: scale(0.8);
		}
	}
}

.results-header {
	text-align: center;
	margin: 20px 0 10px 0;
	font-size: 18px;
	font-weight: $regular;

	@include tablet {
		font-size: 22px;
	}
}

.results-section {
	width: 90%;
	margin: 0 auto;
	text-align: center;

	@include tablet {
		width: 80%;
	}

	.result {
		height: 50px;
		background-color: #F9F9F9;
		box-shadow: 0 0 4px rgba(0,0,0,0.25);
		border-radius: 10px;
		font-size: 14px;
		font-weight: $regular;
		line-height: 50px;
		margin: 0 0 10px 0;

		@include tablet {
			height: 70px;
			line-height: 70px;
			margin: 0 0 20px 0;
		}
	}
}